name: Terraform Deploy

on:
  workflow_dispatch:
    inputs:
      destroy:
        description: "Destroy infrastructure?"
        required: true
        default: "false"
      resource:
        description: "Terraform folder (ec2/s3/etc)"
        required: true
        default: "ec2"
      backend_bucket:
        description: "S3 backend bucket name"
        required: true
        default: "bucketfortfstatestorage"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init/Apply/Destroy
      run: |
        set -euo pipefail
        echo "Destroy: ${{ github.event.inputs.destroy }}"
        echo "Resource: ${{ github.event.inputs.resource }}"
        echo "Backend bucket: ${{ github.event.inputs.backend_bucket }}"

        cd ${{ github.event.inputs.resource }}

        cat > backend.tf <<EOF
        terraform {
          backend "s3" {
            bucket = "${{ github.event.inputs.backend_bucket }}"
            key    = "${{ github.event.inputs.resource }}/terraform.tfstate"
            region = "ap-south-1"
          }
        }
        EOF

        terraform init -input=false

        if [ "${{ github.event.inputs.destroy }}" = "true" ]; then
          terraform destroy -auto-approve
        else
          terraform apply -auto-approve
          terraform output -json > ../${{ github.event.inputs.resource }}_outputs.json
        fi

    - name: Make mail script executable
      run: |
        chmod +x scripts/send_mail.sh

    - name: Send deployment mail
      env:
        SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
        SMTP_PORT: ${{ secrets.SMTP_PORT }}
        SMTP_USER: ${{ secrets.SMTP_USER }}
        SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
        RECIPIENT: ${{ secrets.RECIPIENT }}
      run: |
        ./scripts/send_mail.sh
